/* First Section */

.firstSection {
  /* background-color: #f5f5f5; */
  padding: 5% 0;
  text-align: center;
}
.buttonText {
  color: white;
  background-color: #635bff;
  font-weight: bold;
}
span {
  margin-left: 5px;
  padding: 5px;
}
