/* First Section */

.firstSection {
  padding: 5% 0;
  text-align: center;
}
.section1LeftCol {
  padding: 2% 12% 0 0;
  text-align: left;
}
.buttonText {
  color: white;
  background-color: #635bff;
  font-weight: bold;
}
span {
  margin-left: 5px;
  padding: 5px;
}
.colTitle {
  font-size: 3.5rem;
  padding: 8% 3% 3% 0;
  font-weight: 600;
}
.colPara {
  font-size: large;
  color: grey;
  margin-top: 10px;
}
.searchBar {
  margin: 8% 0 !important;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: solid 2px rgb(199, 198, 198);
  align-items: center;
}
.jobTitleSearch {
  width: 120px;
  border: none;
  padding: 0 5%;
  display: inline-flex;
}
.locationSearch {
  width: 120px;
  border: none;
  padding: 0 5%;
  display: inline-flex;
}
.searchBtn {
  justify-content: center;
  width: 107% !important;
  height: 50px !important;
}
.rightIcon {
  width: 15px;
  margin-top: -3px;
}

.section1RightCol {
  padding: 2%;
  align-self: center;
}
.img1 {
  width: 100%;
}

/* Second Section */
.secondSection {
  background-color: #f5f5f5;
  color: grey;
  padding: 5% 0;
}
.companyLogo {
  margin: 25% 0 0 0;
}

/* Third Section */
.thirdSection {
  padding: 5% 0 2% 0;
  justify-content: center;
  text-align: center;
}
.hiraceCol {
  padding: 0 33%;
}
.hiraceBtn {
  margin: auto;
}
.rowTitle {
  font-weight: bold;
  font-size: 3rem;
  padding: 2% 0;
}
.cardRow {
  justify-content: center;
}
.cardCol {
  text-align: left;
  margin: 5% 1%;
  border: rgb(234, 230, 230) solid 2px;
  border-radius: 20px;
  padding: 2%;
}
.cardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3% 0;
}
.cardPara {
  font-size: medium;
}
.cardLink {
  font-size: 1.3rem;
  padding-top: 3%;
}

/* Fourth Section */
.worksCol {
  padding: 0 32%;
}
.worksBtn {
  margin: auto;
}
.worksRow {
  border: rgb(234, 230, 230) solid 2px;
  border-radius: 30px;
  margin: 2% 8% 10% 8%;
}
.col5 {
  text-align: left;
  margin: 3%;
}
.img2 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.number {
  color: #635bff;
  font-weight: bold;
}
.subTitle {
  font-weight: bold;
  padding: 3% 0;
}
.hrule {
  margin: 5% 0;
}
.list {
  padding: 0 16% 2% 0;
}

/* Media queries */
@media (max-width: 1400px) {
  .section1LeftCol {
    padding: 2% 5% 0 0;
  }
}
@media (max-width: 1200px) {
  .img1 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .colTitle {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .img1 {
    width: 110%;
  }
  .section1LeftCol {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .img1 {
    width: 100%;
    padding: 5%;
  }
}
@media (max-width: 576px) {
  .companyTitle {
    padding: 5% 0;
    font-size: 1.5rem;
  }
  .companyLogo {
    margin: 5% 0;
  }
}
