.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.logo {
  margin: 0 5% 0 0;
}
.text {
  color: black;
  width: 120px;
}

/* Media queries */
@media (max-width: 992px) {
  .text {
    width: auto;
  }
}
