.actionBtn {
  text-align: center;
  width: 120px;
  height: 40px;
  background-color: #635bff;
  font-size: large;
}
.actionBtn:hover {
  background-color: white;
  color: #635bff;
  cursor: pointer;
}
